.botones {
    padding: 100px;
    margin: 20px;
    &__post {
        border-radius: 40px;
        background: $nickel;
        color: $white;
    }
    &__post:hover {
        background: $light-grey;
        color: $white;
    }
}

.page {
    background-color: $platinum;
    &__box {
        align-items: center;
        border-bottom: $platinum;
    }
    &__item {
        border-radius: 40px;
    }
    &__link {
        color: $raisin-black;
    }
}