.header {
    background-image: url(../img/post-image.jpg);
    background-size: cover;
    border-radius: 0%;
    background-position: 40%;
    &__texto {
        font-family: $secondary-font;
        color: $white;
        font-weight: 900;
        font-size: xx-large;
        font-style: italic;
    }
    &__flecha {
        color: $white;
        margin: 0;
    }
}