//colores
$white: #FFF;
$platinum: #E6E7E7;
$light-grey:#D1D1D1;
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;
$eerie-black:#121619;
$raisin-black:#222323;
$nickel:#6C6E70;
//fuentes
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&family=Roboto:wght@300;400&display=swap');
$font-family: "Playfair Display",
"serif";
$font-stack: "Roboto",
"sans-serif";